@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('fonts/BricolageGrotesque-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:#081707;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #8aac8b;
    border: 5px solid #081707;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
}

.nav-button {
    background-color: #BAD799;
    color: #237414;
    border-radius: 20px;
    padding: 0 2rem;
    height: 60%;
    border: 2px solid #237414;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: clamp(16px, 1.5vw, 24px);
    cursor: pointer;
}

.right-buttons {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

button {
    background-color: #BAD799;
    color: #237414;
    font-weight: bold;
    padding: 24px 60px;
    border: 1px solid darkgreen;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
}

button:hover {
    background-color: #000000;
}


.sign-in-container {
    display: flex;
    justify-content: center; 
    align-items: normal; 
    gap: 100px; 
    margin-top: 200px; 
    flex-wrap: wrap;
}


.sign-in-box {
    background-color: #bad799;
    border: 5px solid #081707;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}

.sign-in-box h1{
    font-family: 'Bricolage Grotesque';
    font-size: 52px;
    color: #237414;
    margin-top:5px;
    text-align: center;
    margin-left: 0;
    font-weight:normal;
}

.sign-in-box label{
    font-family: 'Bricolage Grotesque';
    font-size: 22px;
    color: #237414;
    text-align: left;
    margin-left: 0;
    font-weight:normal;
}

input[type="text"] , input[type="password"]{
    width: 95%;  
    height: 20px;
    font-size: 18px;
    padding: 10px;
    background-color: lightgreen;
    border: 2px solid #237414;
    border-radius: 8px;
    margin-bottom: 5px;
    font-family: 'Darker Grotesque', sans-serif;
}

input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #237414;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #237414; 
}

.sign-in-box button{
    background-color: #6dbe47;
    color: #a0ec49;
    font-weight: bold;
    padding: 12px 20px;
    border: 3px solid #a0ec49;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
    width:50%;
    align-self: center;

}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 300px;
}

.register-box h2 {
    color: #c9e6b8;
    font-size:3vw;
    font-family: 'Bricolage Grotesque';
    text-align:center;
}

.register-box button {
    background-color: #237414;
    color: white;
    font-weight: bold;
    padding: 20px 28px;
    font-size: 26px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.register-box button:hover {
    background-color: #1b5d10;
}
