@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('fonts/BricolageGrotesque-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:#081707;
}

.nav-button{
    background-color:#BAD799;
    color:#237414;
    border-radius:20px;
    position:absolute;
    height:60%;
    width:10%;
    border-width:2px;
    border-color:#237414;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size:24px;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #8aac8b;
    border: 5px solid #081707;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;

    display: flex;
    justify-content: space-between; 
    align-items: center;          
}

.left-buttons,
.right-buttons {
    display: flex;
    gap: 10px; 
}

button {
    background-color: #BAD799;
    color: #237414;
    font-weight: bold;
    padding: 24px 60px;
    border: 1px solid darkgreen;
    border-radius: 20px;
    cursor: pointer;
    font-size: 28px;
}

button:hover {
    background-color: #000000;
}

.Home{
      font-family: 'Darker Grotesque',sans-serif;
      position: fixed;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 20px 0px;
      max-width: 1400px;
    }

.Home img {
      left: 10%;
      width: 250px;
      height: auto;
    }

    .text h1 {
      font-family: 'Bricolage Grotesque';
      font-size: 56px;
      color: #6dbe47;
      margin: 0 0 20px;
    }

    .text p {
      font-family: 'Darker Grotesque', sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.6;
      margin: 0;
      max-width: none;
      color: #BAD799;
    }
