body{
    background-color:#081707;
}

.button1{
    background-color:#BAD799;
    color:#237414;
    border-radius:10px;
    position:absolute;
    height:60%;
    width:10%;
    top:20px;
    left:20px;
    bottom:20px;
    border-width:2px;
    border-color:#237414;
    font-size:3vw;

    
}

.button2{
   background-color:#BAD799;
    color:#237414;
    border-radius:10px;
    position:absolute;
    height:60%;
    width:10%;
    top:20px;
    right: 20px;
    bottom:20px;
    border-width:2px;
    border-color:#237414;
    font-size:2.5vw;

    
}

.button3{
   background-color:#BAD799;
    color:#237414;
    border-radius:10px;
    position:absolute;
    height:60%;
    width:10%;
    top:20px;
    right:260px;
    bottom:20px;
    border-width:2px;
    border-color:#237414;
    font-size:2.4vw;

    
}

.navigation-bar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:15%;
    background-color:#8aac8b;
    text-align: left;
    border:5px solid #081707;
    border-radius:20px;
    margin:5px;
    padding:5px;
    
}

.Home{
    position:center;
    position:fixed;
    top:300px;
    left:50%;
    right:50%;
}

